nav ul a {
  color: rgb(60, 212, 55);
  margin-right: 2rem;
  font-size: 1.8rem;
}
nav .nav-wrapper {
  background-color: black;
}

nav .brand-logo {
  font-size: 3rem;
  color: rgb(60, 212, 55);
  margin-left: 5rem;
}

.carrito-imagen {
  width: 3rem;
  margin: 0.5rem 2rem 0 0;
}
